body{
    background-color: #DFEAF0;
}
*{
    margin:0;
    padding: 0;
    font-family: Quicksand;
}
.container{
    width:100%;
    height: 100%;
}.Button{
    position: absolute;
    font-size: 30px;
    background-color: #309C5F;
    top: 90%;
    left: 80%;
    padding: 10px 30px;
    border-radius: 20px;
    }
.Button2{
position: absolute;
font-size: 30px;
background-color: #309C5F;
top: 90%;
left: 90%;
padding: 10px 40px;
border-radius: 20px;
}
.banner{
    position: absolute;
    width: 50%;
    text-align: center;
    font-size: 60px;
    height: 20%;
    margin:60px 0;
    color: #309C5F;
    }
.subjects{
    width: 200px;
    top: 20%;
    height: 50%;
    left: 220px;
    position: absolute;
}
.subjects a{
    font-size: 30px;
    padding: 20px;
    margin: 10px 20px;
    background-color:#309C5F;
}
.Button1{
cursor: pointer;
font-size: 25px;
background-color: #309C5F;
position: absolute;
width: 150px;
height: 50px;
text-align: center;
}
.Button3{
top: 100px;
cursor: pointer;
font-size: 25px;
background-color: #309C5F;
position: absolute;
width: 150px;
height: 50px;
text-align: center;
}
.Button4{
top: 200px;
cursor: pointer;
font-size: 25px;
background-color: #309C5F;
position: absolute;
width: 150px;
height: 50px;
text-align: center;
}
.Button5{
top: 300px;
cursor: pointer;
font-size: 25px;
background-color: #309C5F;
position: absolute;
width: 150px;
height: 50px;
text-align: center;
    }
.Button6{
top: 400px;
cursor: pointer;
font-size: 25px;
background-color: #309C5F;
position: absolute;
width: 150px;
height: 50px;
text-align: center;
        }
.subjects2{
    width: 200px;
    top: 20%;
    left: 520px;
    position: absolute;
}
.subjects2 a{
    font-size: 30px;
    padding: 20px;
    margin: 10px 20px;
    background-color: #309C5F;
}
.Button7{
    cursor: pointer;
    font-size: 25px;
    background-color: #309C5F;
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
    }
    .Button8{
    top: 100px;
    cursor: pointer;
    font-size: 25px;
    background-color: #309C5F;
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
    }
    .Button9{
    top: 200px;
    cursor: pointer;
    font-size: 25px;
    background-color: #309C5F;
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
    }
    .Button10{
    top: 300px;
    cursor: pointer;
    font-size: 25px;
    background-color: #309C5F;
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
        }
    .Button11{
    top: 400px;
    cursor: pointer;
    font-size: 25px;
    background-color: #309C5F;
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
            }
.profile{
    position: absolute;
    top:20px;
    left: 75%;
    width: 300px;
    height: 30%;
    text-align: center;
}
.profile img{
    width: 300px;
    height: 270px;
}
.profile p{
    top: 20px;
    padding: 10px 15px;
    background-color: #309C5F;
    font-size: 20px;
}